@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .outline-text {
        -webkit-text-stroke: 2px #A4D639;
        -webkit-fill-color: transparent;
        fill: transparent;
    }
}

@layer base {
    body {

        color: white;
        background-color: rgb(186, 73, 73);
        transition: 0.7s;
    }

    html {
        font-family: "Inter", sans-serif;
        outline: none;
        scroll-behavior: smooth;

    }

    input:focus {
        outline: none;
    }

    .active {
        background-color: rgba(0, 0, 0, 0.201);
    }



}